/* style the whole body */
    body {
    background-color: #eee;
    padding-top: 20px;
    font-family: sans-serif New, sans-serif, monospace;
    color:burlywood;
    background: url('../images/hangman.png') no-repeat;
    background-size: cover;
    background-position: center center;
    }
/* style the container */
    .container { 
     text-align: center;
    
    }
    /* style the headings */
    h1,h2,h3,
    h4,h5,h6 {
        padding: 5px;
        background-color: rgba(11, 12, 14, 0.6);
    }
    /* style the image sections */
    #title-image, #gameover-image, #youwin-image{ 
        display: block;
        margin: 0 auto;
        max-height: 80px;
        width: 25%;
    }

/* current word styling */
    #currentword-text {
        letter-spacing: 10px;
    }

    #pressKeyTryAgain, #gameover-image,  #youwin-image { 
        display: none;
    }
    .gameplay-column {
        padding-top: 20px;
        border: 3px dashed wheat;
        text-align: center;
        margin-top: 20px;
        min-height: 500px;
        background-color:rgba(11, 12, 14, 0.6);
    }